/* responsive */

@media (max-height: 900px) {
    .sub-container {
      top: 0%;
      bottom: 0%;
      padding: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .main-container {
      max-height: 50rem;
    }
  }
  
  @media (max-width: 1340px) {
    .sub-container {
      margin: -10rem -1rem -10rem 10rem;
    }
  }
  
  @media (max-width: 1250px) {
    .sub-container {
      margin: -10rem -1rem -15rem 5rem;
    }
  
    .modal-page {
      height: 100%;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .modal-page {
      top: -80rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  }
  
  @media (max-width: 1199px) {
  
    .main-container,
    .modal-page {
      height: 80rem;
    }
  
    .modal-page {
      top: -80rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .sub-container {
      flex-direction: column;
      position: static;
    }
  
    .my-inputs {
      margin: 1rem;
    }
  
    .line::before {
      padding: 4rem 0;
      left: 18rem;
    }
  
    .sec-line::before {
      padding: 4rem 0;
      left: 15rem;
    }
  
    .line::after {
      padding: 6rem 0;
      right: 45rem;
    }
  
    .sec-line::after {
      padding: 6rem 0;
      right: 45rem;
    }
  
    .third-line::after {
      padding: 6rem 0;
      right: 45rem;
    }
  }
  
  @media (max-width: 938px) {
  
    .main-container,
    .modal-page {
      height: 70rem;
    }
  
    .modal-page {
      top: -70rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .line::before {
      padding: 4rem 0;
      left: 13rem;
    }
  
    .sec-line::before {
      padding: 4rem 0;
      left: 10rem;
    }
  
    .line::after {
      padding: 6rem 0;
      right: 40rem;
    }
  
    .sec-line::after {
      padding: 6rem 0;
      right: 40rem;
    }
  
    .third-line::after {
      padding: 6rem 0;
      right: 40rem;
    }
  }
  
  @media (max-width: 754px) {
  
    .main-container,
    .modal-page {
      height: 70rem;
    }
  
    .modal-page {
      top: -70rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .line::before {
      padding: 4rem 0;
      left: 13rem;
    }
  
    .sec-line::before {
      padding: 4rem 0;
      left: 10rem;
    }
  
    .line::after {
      padding: 6rem 0;
      right: 35rem;
    }
  
    .sec-line::after {
      padding: 6rem 0;
      right: 35rem;
    }
  
    .third-line::after {
      padding: 6rem 0;
      right: 35rem;
    }
  }
  
  @media (max-width: 680px) {
    .profile-holder {
      margin: 0;
    }
  
    .main-container,
    .modal-page {
      height: 90rem;
    }
  
    .modal-page {
      top: -90rem;
    }
  
    .sub-container {
      margin: 0;
    }
  
    .line::after {
      padding: 6rem 0;
      right: 25rem;
    }
  
    .sec-line::after {
      padding: 6rem 0;
      right: 25rem;
    }
  
    .third-line::after {
      padding: 6rem 0;
      right: 25rem;
    }
  }
  
  @media (max-width: 530px) {
    .heading {
      font-size: 2.2rem;
    }
  
    .sales {
      font-size: 1.2rem;
      font-weight: 500;
    }
  
    .form-info-items {
      width: 80%;
    }
  
    .form-info-items>* {
      font-size: 1rem;
      font-weight: 700;
    }
  
    .img-container {
      justify-content: center;
    }
  }
  
  @media (max-width: 460px) {
  
    .main-container,
    .modal-page {
      height: 70rem;
    }
  
    .modal-page {
      top: -70rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .choose-prefers {
      font-size: 2.2rem;
    }
  
    .comp-logo {
      display: none;
    }
  
    .line::before {
      padding: 2rem 0;
      left: 6rem;
    }
  
    .sec-line::before {
      padding: 2rem 0;
      left: 6rem;
    }
  }
  
  @media (max-width: 372px) {
  
    .main-container,
    .modal-page {
      height: 60rem;
    }
  
    .modal-page {
      top: -60rem;
    }
  
    .activated-modal {
      top: 0%;
    }
  
    .user {
      width: 14rem;
      height: 14rem;
    }
  
    .heading {
      font-size: 1.8rem;
    }
  
    .sales {
      font-size: 1rem;
      font-weight: 500;
    }
  
    .form-info-items {
      width: 80%;
    }
  
    .form-info-items>* {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }