.modal-page {
    width: 100%;
    height: 100%;
    background: #33333356;
    position: absolute;
    top: -100%;
    transition: all ease .3s;
    z-index: 2;
}

.modal-container {
    width: 80%;
    height: 60%;
    background: #fff;
    border-radius: 0.85rem;
    gap: 3rem;
    position: absolute;
    left: 10%;
    top: 20%;
    padding: 1rem;
    overflow-y: scroll;
}

.choose-prefers {
    font-size: 3.6rem;
    font-weight: 700;
    color: #333333;
    align-self: flex-start;
}

.theme-color-text {
    font-size: 1.4rem;
    display: block;
    color: #33333390;
}

.user-form-container {
    width: 100%;
    align-items: flex-start;
}

.inputs {
    width: 100%;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.inputs>* {
    width: 100%;
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: .5rem;
    border: .05rem solid;
    scrollbar-width: 0;
}

.img-container {
    border: none;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-container>figure {
    align-items: flex-end;
}

.img-container>figure>img {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
}

input[type="radio"] {
    cursor: pointer;
}

.save-btn {
    text-align: center;
    margin-top: 1.5rem;
    color: #fafafa;
    border-radius: 0.85rem;
    font-weight: 600;
    border: none;
    width: calc(100% - 2rem);
    padding: .5rem;
    cursor: pointer;
}